<tr>
  <td><%= link_to genero.nome, genero %></td>
  <td><small> <%= truncate(genero.descricao,{ :length => 50, omission: '... (continua)' }) %> </small></td>
  <% if admin? %>
      <td>
       <%= link_to "Excluir", genero, method: :delete, data: { confirm: 'Você tem certeza?' } %> |
       <%= link_to "Editar", edit_genero_path(genero) %>
      </td>
  <% end %>
</tr>