<li>
  <%= link_to genero.nome, genero %>
  <small> <%= truncate(genero.descricao,{ :length => 50, omission: '... (continua)' }) %> </small>
  <% if is_admin? %>
      | <%= link_to "Excluir", genero, method: :delete %>
      | <%= link_to "Editar", edit_genero_path(genero) %>
  <% end %>
</li>