<p>Olá, <%= @usuario.username %>,<p>

<p>Sua senha foi resetada!<p>

<p>Faça login <%= link_to "aqui!", { controller: "sessions", action: "new", host: "lvh.me:3000" } %><p>
<p>Nova senha: <%= @nova_senha %></p>

<p>Contato SuggestMe!<p>
<p>Pedreira, SP<p>