<h1>Listando Comentarios</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= link_to 'Mostrar', comentario %></td>
        <td><%= link_to 'Editar', edit_comentario_path(comentario) %></td>
        <td><%= link_to 'Excluir', comentario, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Comentario', new_comentario_path %>
