<% if @avaliacoes.any? %>
  <!-- Loop para cada avaliacao do usuário -->
  <ul class="list-group">
  <% @avaliacoes.each do |avaliacao| %>
      <li class="list-group-item">
        <img src=<%= avaliacao.usuario.image %> alt="profile pic" height="42" width="42" class="img-rounded">
        <%= link_to avaliacao.usuario.username, usuario_path(avaliacao.usuario) %>
        <% if avaliacao.avaliacao %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
        <% else %>
          <span class="glyphicon glyphicon-thumbs-down"></span>
        <% end %>
      </li>
  <% end %>
  </ul>
<% end %>
<%= will_paginate @avaliacoes, :previous_label => " << Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails, param_name: 'avaliacao_page'  %>