<h3>Itens parecidos:</h3>
<ul class="list-group">
	<% itens.each do |nota, item| %>
		<li class="list-group-item">
			<%= link_to item.get_name, item_path(item) %> <%= nota %>
		</li>
	<% end %>
</ul>