<li>
  <%= link_to item.nome_ptbr, item %>
  <%= item.descricao %>
  <% if is_admin? %>
      | <%= link_to "Excluir", item, method: :delete,
                              data: { confirm: "Você tem certeza?" } %>
      | <%= link_to "Editar", edit_item_path(item) %>
  <% end %>
</li>