<% provide(:title, 'Todos os Itens') %>

<h1>Todos os Itens!</h1>

<ul class="itens">
  <%= render @itens %>
</ul>

<%= will_paginate @usuarios,:previous_label => " << Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails %>