<% provide(:title, 'Todos os Itens') %>

<%= render "compartilhado/breadcrumb", pag: "Top Itens" %>

<h1>Todos os Itens!</h1>

<% if signed_in? %>
		<h5> Você pode criar um novo item <%= link_to "Aqui!", new_item_path %></h3>
<% end %>

<ul class="itens">
  <%= render @itens %>
</ul>

<%= will_paginate @itens,:previous_label => " << Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails %>