<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <span class="glyphicon glyphicon-<%= key == "danger" ? "remove" : "ok" %>"></span>
    <%= value %>
  </div>
<% end %>