<%= render "compartilhado/breadcrumb", pag: "Todas Categorias" %>

<h2>Todas as Categorias! (<%= @categorias_count %>)</h2>

<table class="table table-hover">
	<tr class="info">                      
		<th><%= sortable "descricao", "Descrição" %></th>
	</tr>
  <%= render @categorias %>
</table>