<%= render "compartilhado/breadcrumb", pag: @categoria.descricao %>

<div class="row">
	<h3> <%= @categoria.descricao %> </h3>
</div>
<div class="row">
	<%= render "itens_relacionados", itens: @itens %>
</div>
<div class="row">
	<div class="col-md-4"></div>
	<%= will_paginate @itens, :previous_label => " << Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails %>
</div>
