<div class="row">
  <aside class="col-md-3">
    <section>
      <h4> <%= @categoria.descricao %> </h4>
    </section>
  </aside>
  <div class="col-md-4 col-md-offset-1">
      <%= render "itens_relacionados", itens: @itens %>
  </div>
  <%= will_paginate @itens, renderer: BootstrapPagination::Rails %>
</div>
