<%= render "compartilhado/breadcrumb", pag: @categoria.descricao %>

<div class="row">
  <aside class="col-md-3">
    <section>
      <h4> <%= @categoria.descricao %> </h4>
    </section>
  </aside>
  <div class="col-md-4 col-md-offset-1">
    <%= render "itens_relacionados", itens: @itens %>
    <%= will_paginate @itens, :previous_label => " << Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails %>
  </div>
</div>
