<% if @avaliacoes.any? %>
  <!-- Loop para cada avaliacao do usuário -->
  <ul class="list-group">
  <% @avaliacoes.each do |avaliacao| %>
      <li class="list-group-item">
        <%= link_to avaliacao.item.get_name.titleize, item_path(avaliacao.item) %>
        <% if avaliacao.avaliacao %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
        <% else %>
          <span class="glyphicon glyphicon-thumbs-down"></span>
        <% end %>
      </li>
  <% end %>
  </ul>
<% else %>
  <p> <%= current_user?(@usuario) ? @usuario.username : "Você" %> ainda não tem avaliações! </p>
  <% if current_user?(@usuario) %>
    <p> Comece por <%= link_to 'aqui!', itens_path %> </p>
  <% end %>
<% end %>
<%= will_paginate @avaliacoes, :previous_label => " << Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails, param_name: 'avaliacao_page' %>