<%= form_for(current_user.relacoes.build(seguido_id: @usuario.id), remote: true) do |f| %>
  <div><%= f.hidden_field :seguido_id %></div>
  <%= f.submit "Seguir", class: "btn btn-large btn-primary" %>
<% end %>