<ol class="breadcrumb">
  <li><a href="#">Home</a>  </li>
  <li class "Active">Editar</li>
</ol>

<% provide(:title, "Editar!") %>
<h1>Editando Usuário <%= @usuario.username %></h1>

<%= render 'edit_form' %>
