<% provide(:title, 'Todos musics') %>

<h1>Meus dados no facebook!</h1>
<hr>
<ul>
	<li><strong>Dados do Usuaário:</strong></li>
	<p> <%= @fb_user.inspect %> <p>
</ul>
<ul>
	<li><strong>Lista de Avaliações</strong></li>
	<ol>
		<% @lista_final.each do |item| %>
			<li> <%= item.nome_ptbr || item.nome_en %> </li>
		<% end %>
	</ol>
</ul>