<% provide(:title, 'Todos usuários') %>

<h1>Todos usuários</h1>

<ul class="usuarios">
	<%= render @usuarios %>
</ul>

<%= will_paginate @usuarios, :previous_label => "<< Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails %>