<% provide(:title, 'Todos usuarios') %>

<h1>Todos usuarios</h1>

<ul class="usuarios">
	<%= render @usuarios %>
</ul>

<%= will_paginate @usuarios, :previous_label => "<< Anterior", :next_label => "Proximo >>", renderer: BootstrapPagination::Rails %>