<% provide(:title, 'Todos usuarios') %>

<h1>Todos usuarios</h1>

<ul class="usuarios">
  <% @usuarios.each do |usuario| %>
    <li>
      <%= link_to usuario.username, usuario %>
      <% if current_user.admin? && current_user != usuario %>
          | <%= link_to "delete", usuario, method: :delete,
                                  data: { confirm: "Você tem certeza?" } %>
  <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate @usuarios, renderer: BootstrapPagination::Rails %>