<% provide(:title, @usuario.username) %>

<%= render "compartilhado/breadcrumb", pag: "Usuário" %>

<div class="row">
  <aside class="col-xs-3">
    <section>
      <%= render "informacoes_usuario", usuario: @usuario %>
    </section>
  </aside>
	<div class="col-md-8">
    <%= render "todos_comentarios", comentarios: @comentarios%>
  </div>
</div>