<ol class="breadcrumb">
  <li class="Active">Home</li>
</ol>

<hr>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1><%= @project_name %></h1>
    <p>Sistema de recomendação de livros, filmes, jogos e músicas que são gerados a partir do seu gosto! Para mais informações</p>
    <p><a href="/suggestions/sobre" class="btn btn-primary btn-lg" role="button">Saiba mais &raquo;</a></p>
  </div>
</div>
<hr>
<div class="row">
	<div class="col-xs-4">
		<h3>Últimos gêneros criados:</h3>
		<ul class="list-group">
			<% @ultimos_generos.each do |genero| %>
	      <li class="list-group-item">
	        <%= link_to genero.nome, genero_path(genero) %>
	      </li>
			<% end %>
		</ul>
	</div>
	<div class="col-xs-4">
		<h3>Últimos usuários logados:</h3>
		<ul class="list-group">
			<% @ultimos_usuarios.each do |usuario| %>
	      <li class="list-group-item">
	        <%= link_to usuario.username, usuario_path(usuario) %>
	      </li>
			<% end %>
		</ul>
	</div>
	<div class="col-xs-4">
		<h3>Últimos itens visitados:</h3>
		<ul class="list-group">
			<% @ultimos_itens.each do |item| %>
				<li class="list-group-item">
					<%= link_to item.get_name, item_path(item) %>
				</li>
			<% end %>
		</ul>
	</div>
</div>