<!-- Footer! -->
<div class="container">
  <hr>
  <footer>
    <p class="text-center"> Desenvolvido por Vitor Rodrigo Vezani</p>
    <p class="text-center"><small>&copy; Suggest Me. 2014</small></p>
  </footer>
</div> 
<!-- /Footer -->